// Importing mixins from the '_mixins.scss' file
@import "../_mixins.scss";

// Styles for the app wrapper
.app__wrapper {
  max-width: 750px;
  width: 100%;
  margin: 0 auto; // Centering the app horizontally
}

// Styles for the app header
.appHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}

// Styles for the content wrapper
.content__wrapper {
  background-color: var(--bg-2);
  padding: 2rem;
  border-radius: 12px;

  // Including styles for small device sizes using a mixin
  @include smallDeviceSize {
    padding: 1.5rem;
  }
}

// Styles for the empty text element
.emptyText {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--black-2);
  text-align: center;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  background-color: var(--gray-2);
  width: max-content;
  height: auto;
}
