// Importing mixins from the 'mixins' file
@import "../mixins";

// Styles for a title element
.title {
  display: inline-block;
  width: 100%;
  font-family: "Quicksand Variable", sans-serif;
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  color: var(--black-1);

  // Including styles for small device sizes using a mixin
  @include smallDeviceSize {
    font-size: 3rem;
  }
}
